body{
    background-color: #262566;
}
div{
    background-color: #2062a062;
}

.E1{
    position: absolute;
    width: 150px;
    height: 250px;
    left: 0px;
    top: 0px;
}

.M1{
    position: absolute;
    width: 400px;
    height: 100px;
    left: 26%;
    top: 25px;
    border-radius: 25px;
}

.M2{
    position: absolute;
    width: 280px;
    height: 60px;
    left: 20%;
    top: 30%;
    border-radius: 25px;
}
.M22{
    position: absolute;
    width: 280px;
    height: 60px;
    left: 40%;
    top: 30%;
    border-radius: 25px;
}

.M3{
    position: absolute;
    width: 250px;
    height: 400px;
    left: 21%;
    top: 40%;
    border-radius: 25px;
}
.M33{
    position: absolute;
    width: 250px;
    height: 400px;
    left: 41%;
    top: 40%;
    border-radius: 25px;
}

.D1{
    position: absolute;
    width: 250px;
    height: 60px;
    left: 80%;
    top: 15%;
    border-radius: 25px;
}

.D2{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 70%;
    top: 25%;
    border-radius: 25px;
}

.D3{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 90%;
    top: 45%;
    border-radius: 25px;
}

.D4{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 70%;
    top: 65%;
    border-radius: 25px;
}
