body{
    background-color: #262566;
}
div{
    background-color: #2062a062;
}

.E1{
    position: absolute;
    width: 150px;
    height: 250px;
    left: 0px;
    top: 0px;
}

.M1{
    position: absolute;
    width: 400px;
    height: 100px;
    left: 26%;
    top: 20px;
    border-radius: 25px;
}

.C1{
    position:absolute;
    width: 1440px;
    height: 628px;
    left: 10%;
    top: 17%;
}

.M2{
    position: absolute;
    width: 280px;
    height: 60px;
    left: 10%;
    top: 20%;
    border-radius: 25px;
}
.M22{
    position: absolute;
    width: 280px;
    height: 60px;
    left: 30%;
    top: 20%;
    border-radius: 25px;
}

.M3{
    position: absolute;
    width: 250px;
    height: 400px;
    left: 11%;
    top: 30%;
    border-radius: 25px;
}
.M33{
    position: absolute;
    width: 250px;
    height: 400px;
    left: 31%;
    top: 30%;
    border-radius: 25px;
}

.D1{
    position: absolute;
    width: 250px;
    height: 60px;
    left: 80%;
    top: 5%;
    border-radius: 25px;
}

.D2{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 70%;
    top: 15%;
    border-radius: 25px;
}

.D3{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 88%;
    top: 35%;
    border-radius: 25px;
}

.D4{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 70%;
    top: 55%;
    border-radius: 25px;
}
